.cmd {
    animation-duration: 1.2s;
    animation-name: blink;
    animation-iteration-count: infinite;
    transition: none;
    opacity: 100%;
}

@keyframes blink {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
  }

#cmdend {
    animation: none;
    opacity: 0%;
}

.cd {
    opacity: 0%;
    text-decoration: none;
    color: black;
}

.line:hover > .cd {
    opacity: 100%;
    text-decoration: none;
}

.line:hover > #cmdstart {
    animation: none;
    opacity: 0%;
}

.line:hover > #cmdend{
    animation-duration: 1.2s;
    animation-name: blink;
    animation-iteration-count: infinite;
    transition: none;
    opacity: 100%;
}

#helloworld {
    font-size: 0.28em;
}

@media (max-width: 600px) {
    #helloworld {
        font-size: 0.135em;
    }
}

