#blog {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
    text-align: center;
}

.thumbnail {
    font-size: 0.15em;
}

.title {
    border-top: 0.05em dashed;
    border-bottom: 0.05em dashed;
    width: 100%;
    text-decoration: none;
    color:rgb(58, 76, 87);
}

.title:hover {
  border-top: none;
  border-bottom: none;
}

@media (max-width: 600px) { 
    #blog {
        grid-template-columns: 1fr;
        grid-gap: 3%;
        text-align: center;
        margin-bottom: 85%;
    }
 }
